<h1>
<br>
You should pick this Portfolio: {{data.portfolio_name}}
from: {{data.state}}

ONE YEAR:  {{data.one_year_return}}%
<br>
THREE YEAR  {{data.three_year_return}}%
<br>
FIVE YEAR  {{data.five_year_return}}%
</h1>


<canvas id="mycanvas" width="400" height="400"></canvas>

<script>
var chrt = document.getElementById("mycanvas").getContext("2d");
var myarr = [{{data.one_year_return}}, {{data.three_year_return}}, {{data.five_year_return}}];
var data = {
    labels: ["One Year", "Three Year", "Five Year"], //x-axis
    datasets: [
        {
            label: "Cost of tution (National Center for Education Stats)", //optional
            fillColor: "rgb(112,193,179)",
            strokeColor: "rgb(112,193,179)",
            highlightFill: "rgb(112,193,179)",
            highlightStroke: "rgb(112,193,179)",
            data: [2.1, 4.6, 8] // y-axis
        },
		{
            label: "The Portfolio reutrns", //optional
            fillColor: "rgb(36,123,160)",
            strokeColor: "rgb(36,123,160)",
            highlightFill: "rgb(36,123,160)",
            highlightStroke: "rgb(36,123,160)",
            data: myarr
        },
        {
                label: "SPY return", //optional
                fillColor: "rgb(255,22,84)",
                strokeColor: "rgb(255,22,84)",
                highlightFill: "rgb(255,22,84)",
                highlightStroke: "rgb(255,22,84)",
                data: [4.4, 8.7, 13]
            }
    ]
};

var myFirstChart = new Chart(chrt).Bar(data);

</script>
