<h1>
<br>
You should do pick this Portfolio: {{data.portfolio_name}}
from: {{data.state}}

ONE YEAR:  {{data.one_year_return}}%
<br>
THREE YEAR  {{data.three_year_return}}%
<br>
FIVE YEAR  {{data.five_year_return}}%
</h1>


<canvas id="mycanvas" width="400" height="400"></canvas>
