
{{#if data.hasAdvisors}}
<h1>{{data.name}}</h1>
Cool {{data.name}} has an advisors plan named {{data.plan_name}}</h3>
<div class="container-fluid age-choice">
  <div class="babybox col-md-4">
    <img class='babypic'src="https://static.pexels.com/photos/172256/pexels-photo-172256.jpeg" alt="baby photo"></img>
    <div class="baby-text">
        <a href="#" class="btn btn-primary">0-8 years old</a>
    </div>
  </div>
  <div class="kidbox col-md-4">
    <img class='kidpic'src="https://www.cdc.gov/features/preteenvaccines/preteenvaccines_456px.jpg" alt="kids"></img>
    <div class="kid-text">
      <a href="#" class="btn btn-primary">9-14 years old</a>
    </div>
  </div>
  <div class="teenbox col-md-4">
  <img class='kidpic'src="https://static.pexels.com/photos/89873/pexels-photo-89873.jpeg" alt="kids"></img>
    <div class="teen-text">
      <a href="#" class="btn btn-primary">15-22 years old</a>
    </div>
  </div>
</div>
{{/if}}
{{#unless data.hasAdvisors}}
<h1>{{data.name}}</h1>
<h3> Cool {{data.name}} does not have an advisors plan but we can still find the best one {{data.plan_name}} </h3>
<div class="container-fluid age-choice">
  <div class="babybox col-md-4">
    <img class='babypic'src="https://static.pexels.com/photos/172256/pexels-photo-172256.jpeg" alt="baby photo"></img>
    <div class="baby-text">
        <a href="#" class="btn btn-primary">0-8 years old</a>
    </div>
  </div>
  <div class="kidbox col-md-4">
    <img class='kidpic'src="https://www.cdc.gov/features/preteenvaccines/preteenvaccines_456px.jpg" alt="kids"></img>
    <div class="kid-text">
      <a href="#" class="btn btn-primary">9-14 years old</a>
    </div>
  </div>
  <div class="teenbox col-md-4">
  <img class='kidpic'src="https://static.pexels.com/photos/89873/pexels-photo-89873.jpeg" alt="kids"></img>
    <div class="teen-text">
      <a href="#" class="btn btn-primary">15-22 years old</a>
    </div>
  </div>
</div>
{{/unless}}
