great {{data.name}} has a direct plan named {{data.plan_name}}

<div class="container-fluid age-choice">
  <div class="babybox col-md-4">
    <img class='babypic'src="https://static.pexels.com/photos/172256/pexels-photo-172256.jpeg" alt="baby photo"></img>
    <div class="baby-text">
        <a href="/directportfolioa/{{data.directAlink}}" class="btn btn-primary">Elementry</a>
    </div>
  </div>
  <div class="kidbox col-md-4">
    <img class='kidpic'src="https://www.cdc.gov/features/preteenvaccines/preteenvaccines_456px.jpg" alt="kids"></img>
    <div class="kid-text">
      <a href="/directportfoliob/{{data.directBlink}}" class="btn btn-primary">Middle School</a>
    </div>
  </div>
  <div class="teenbox col-md-4">
  <img class='kidpic'src="https://static.pexels.com/photos/89873/pexels-photo-89873.jpeg" alt="kids"></img>
    <div class="teen-text">
      <a href="/directportfolioc/{{data.directClink}}" class="btn btn-primary">High School</a>
    </div>
  </div>
</div>
