

<h1>{{data.name}}</h1>


<h3>{{data.name}} allows state tax deduction into the 529 account.

<br>
<br>
The total amount a family can deduct a year is
{{data.state_tax_deduction}}.
<br>
<br>
What this means:
If a family in {{data.name}} makes $60,000 and max out their 529 contribution. They can report an income of {{data.final_tax_amount}} on their state tax.
</h3>


<a class="btn btn-primary btn-lg" href='/state/brokerquestion/{{data.id}}'>Next</button>
