

<h1 class='title'>{{data.name}}</h1>

{{#if data.if_deduction}}

<h3>{{data.name}} allows state tax deduction into the 529 account.

<br>
<br>
The total amount a family can deduct a year is
{{data.state_tax_deduction}}.
<br>
<br>
What this means:
If a family in {{data.name}} makes $60,000 and max out their 529 contribution. They can report an income of {{data.final_tax_amount}} on their state tax.
</h3>


{{/if}}

{{#if data.no_state_tax}}
<h3 class='text'>{{data.name}} has no state taxes. Since that is the case it does not matter if you choose an instate plan.
{{/if}}</h3>

{{#unless data.if_deduction}}
{{#unless data.no_state_tax}}
<h3 class='text'>Looks like the {{data.name}} 529's don't allow state tax deduction. Since that is the case it does not matter if you choose an instate plan.
</h4>
{{/unless}}
{{/unless}}
<a class="btn btn-primary btn-lg" href='/state/brokerquestion/{{data.id}}'>Next</button>
