

<h1 class='title'>{{data.name}}</h1>

{{#if data.if_deduction}}

<h3 class='statetext'>{{data.name}} allows state tax deduction from account holder's 529 account.

<br>
<br>
The total amount a family can deduct a year is
{{data.state_tax_deduction}}.
<br>
<br>
What this means:
If a family in {{data.name}} makes $60K or more, and contributes the maximum ammount into their 529 account, they can report an income of {{data.final_tax_amount}} on their state tax.
</h3>


{{/if}}

{{#if data.no_state_tax}}
<h3 class='statetext'>{{data.name}} has no state taxes. Because this is the case, it does not matter if the account holder chooses an in-state plan.
{{/if}}</h3>

{{#unless data.if_deduction}}
{{#unless data.no_state_tax}}
<h3 class='statetext'>Looks like {{data.name}} 529's don't allow state tax deduction. Because this is the case, it does not matter if the account holder chooses an instate plan.
</h4>
{{/unless}}
{{/unless}}
<a class="btn btn-primary btn-lg next" href='/statebrokerquestion/{{data.id}}'>Next</a>
